body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3d3a3a;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 0;
}

nav {
    background-color: #494545;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 300px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

.container {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.content h2 {
    margin-top: 0;
}

.product p.harga {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}